<h1>Select which tracker you want to inspect</h1>
      <style>
         table, td, th {
            border: 1px solid black;
            width: 200px;
            text-align:center;
            align:center;
         }
      </style><table><tr><td><button class="bitcoin" onclick="location.href='/bitcoin'">BITCOIN</button></td><td><button class="dogecoin" onclick="location.href='/dogecoin'">DOGECOIN</button></td><td><button class="ethereum" onclick="location.href='/ethereum'">ETHEREUM</button></td><td><button class="micropets" onclick="location.href='/micropets'">MICROPETS</button></td><td><button class="metacraft" onclick="location.href='/metacraft'">METACRAFT</button></td></tr></table>